* {
    box-sizing: border-box;
}

p {
    font-size: larger;
}

div {
    overflow: hidden;
}

header {
    font-size: 60px;
    margin-top: 20px;
}

.section {
    background-color: grey;
    height: 300px;
    float: left;
    position: relative;
    border: 1px solid black;
    text-align: left;

}
.innerSection {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    text-align: center;
}

.innerSection1 {
    background-color: pink;
}
.innerSection2 {
    background-color: rgb(245, 56, 56);
}
.innerSection3 {
    background-color: rgb(255, 255, 118);
}




@media (min-width: 992px) {
    body {
        text-align: center;
    }
    .section {
        width: 30%;
        margin: 1.5%;
    }
    .innerSection {
        width: 33%;
        height: 42px;
        font-size: 26px;
        padding-top: 5px;
    }
    header{ 
        margin-bottom: 5%;
    }
    p {
        padding: 32px 3% 1% 3%;
    }
}

@media (max-width: 992px) {
    body {
        text-align: center;
    }
    .section {
        width: 48%;
        margin: 1%;
    }
    .section3 {
        width: 98%;
    }
    .innerSection {
        width: 33%;
        height: 42px;
        font-size: 26px;
        padding-top: 5px;
    }
    .innerSection3 {
        width: 17%;
    }
    header{ 
        margin-bottom: 5%;
    }
    p {
        padding: 32px 3% 1% 3%;
    }
}

@media (max-width: 767px) {
    body {
        text-align: center;
    }
    .section {
        width: 98%;
        margin: 1%;
    }
    .section3 {
        width: 98%;
    }
    .innerSection {
        width: 33%;
        height: 42px;
        font-size: 26px;
        padding-top: 5px;
    }
    header{ 
        margin-bottom: 5%;
    }
    p {
        padding: 32px 3% 1% 3%;
    }
}